cryptography==37.0.4
CurrencyConverter==0.17
DateTime==4.4
python-dateutil==2.8.2
deep-translator==1.9.0
dnspython==2.3.0
fpdf==1.7.2
gTTS==2.2.4
ipython==7.34.0
ipywidgets==8.0.6
Markdown==3.4.1
numpy==1.21.6
pymongo==4.1.1
pyttsx3==2.90
voila==0.4.0


